<section class="block container block--skewed-right">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo,
      tempora!
    </p>
  </header>
</section>
<section class="block block--dark block--skewed-left">
  <!-- dark blocks need content wrapped in a div.container 
    white blocks can have the class container under the section-->
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo,
        tempora!
      </p>
    </header>
  </div>
</section>
