<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus alias
    delectus, nihil temporibus commodi veritatis assumenda officia ipsam saepe
    doloribus quos cumque sint perspiciatis enim?
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Jhone Lumeo</h3>
        <p class="company">Mosh Company ceo</p>
      </div>
    </div>
  </footer>
</blockquote>
